<div class="m-2 p-2">
	<h1 >Список всех учеников</h1>
</div>

<% @students.each do |student| %>
 <div class="m-2 p-2 border border-2">

 	<div> 	 
 	 <h3> <%= student.name %> </h3>
	<a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#student-<%=student.id%>" role="button" aria-expanded="false" aria-controls="collapseExample"> Подробнее </a>
 	</div>
 	<div class="collapse" id="student-<%=student.id%>">
 	<div class="card card-body">
 	 <p> <%= student.subject %></p>
 	 <p> <%= student.location %></p>
 	 <p> <%= student.pay_by_hour %></p>
 	 <p> <%= student.other %></p>
 	 <p> <%= student.class_in_school %> </p>


 	</div>
 </div>





</div>


 <% end %>

